---
// Component Imports
import About from '../components/About.astro';
import Contacts from '../components/Contacts.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import Projects from '../components/Projects.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Наталья Кротова</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Наталья Кротова - автор и креативный предприниматель"
    />
    <meta property="og:url" content="https://natagnom.vercel.app/" />
    <meta property="og:image" content="https://natagnom.vercel.app/hero.webp" />
    <meta
      property="og:description"
      content="30 лет я занимаюсь рекламой, созданием брендовых историй и производством. Вместе со своей с командой мы сделали 10000 проектов от названия бренда до его комплексной застройки. Этот опыт помогает мне реализовывать интересные задачи."
    />
  </head>

  <body>
    <Navigation />
    <main class="container mx-auto px-5 max-w-7xl pb-10">
      <Hero />
      <About />
      <Projects />
      <Contacts />
    </main>
    <div class="container mx-auto"></div>
    <style>
      * {
        font-family: 'Rubik', sans-serif;
      }
    </style>
  </body>
</html>
