---
// Component Imports
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import Printshop from '../components/Printshop.astro';
import Projects from '../components/Projects.astro';
import Publishing from '../components/Publishing.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Navigation />
    <main class="container mx-auto px-5 max-w-7xl">
      <Hero />
      <About />
      <Projects />
      <Publishing />
      <Printshop />
    </main>
    <div class="container mx-auto"></div>
    <style>
      * {
        font-family: 'Rubik', sans-serif;
      }
    </style>
  </body>
</html>
