---
---

<section class="py-10 flex flex-col gap-16" id="#printshop" id="about">
  <div class="flex flex-col lg:flex-row gap-10">
    <div class="lg:basis-1/2">
      <iframe
        class="w-full aspect-video"
        src="https://www.youtube.com/embed/8yTJa4xob6I"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div class="lg:basis-1/2">
      <small>Биография</small>
      <p class="text-xl max-w-prose mb-5 font-medium">
        Я креативный предприниматель и проектный менеджер, автор и продюсер,
        многодетная мама и бабушка.
      </p>
      <p class="max-w-prose mb-10">
        30 лет я занимаюсь рекламой, созданием брендовых историй и
        производством. Вместе со своей с командой мы сделали 10000 проектов
        от&nbsp;названия бренда до его комплексной застройки. Этот опыт помогает
        мне реализовывать интересные задачи.
      </p>
      <h2 class="text-2xl font-medium mb-5">Моя деятельность</h2>
      <ul class="list-disc px-5 text-lg tet-zinc-900 flex flex-col gap-5">
        <li class="leading-tight">
          Полиграфическое производство и издательство <br />
          <small class="text-zinc-600 font-base"
            >в активах ИП 14 единиц полиграфического оборудования</small
          >
        </li>
        <li class="leading-tight">
          Разработка торговых марок и бренд-историй под заказ
        </li>
        <li class="leading-tight">
          Производство и продвижение товаров собственных торговых марок<br />
          <small class="text-zinc-600 font-base"
            >150 видов канцелярской и развивающей продукции продаются
            на&nbsp;маркетплейсах вайлдберриз и озон</small
          >
        </li>
        <li class="leading-tight">
          Организация социально-культурных мероприятий коммерческого и
          благотворительного характера
        </li>
        <li class="leading-tight">Авторство</li>
      </ul>
    </div>
  </div>
</section>
