---
import SectionHeader from './SectionHeader.astro';
---

<section class="py-10 flex flex-col" id="contacts">
  <SectionHeader title="Мои контакты" />
  <div class="flex flex-col md:flex-row justify-between">
    <div class="flex flex-col">
      <small class="text-slate-600">Телефон</small>
      <a href="tel:+79060691557">+7 (906) 069 15 57</a>
    </div>
    <div class="flex flex-col">
      <small class="text-slate-600">Email</small>
      <a href="mailto:ng@natagnom.ru">ng@natagnom.ru</a>
    </div>
    <div class="flex flex-col">
      <small class="text-slate-600">Соцсети</small>
      <a href="https://vk.com/natagnom">https://vk.com/natagnom</a>
    </div>
  </div>
</section>
