---
---

<section class="flex flex-col items-center md:flex-row gap-5 lg:gap-10 mb-20">
  <div class="order-2 md:order-1 lg:basis-6/12 lg:grow">
    <h1 class="text-3xl md:text-4xl lg:text-6xl mb-10">
      Привет, я&nbsp;Наталья,<br />автор и креативный предприниматель
    </h1>
    <div class="flex gap-5">
      <a
        class="py-3 px-6 bg-zinc-900 text-white focus:outline-none"
        href="mailto:ng@natagnom.ru"
      >
        Напишите мне
      </a>
    </div>
  </div>
  <div class="order-1 md:order-2 lg:basis-6/12 flex max-h-[calc(100vh-88px*2)]">
    <img src="/hero2.webp" alt="" class="object-cover" />
  </div>
</section>
