---
---

<section class="py-10 flex flex-col items-center lg:flex-row gap-10">
  <div class="order-2 lg:order-1 lg:basis-6/12 lg:grow">
    <h1 class="text-4xl lg:text-6xl mb-10">
      Привет, я Наталья,<br />автор и креативный предприниматель
    </h1>
    <div class="flex gap-5">
      <button class="py-3 px-6 bg-zinc-900 text-white focus:outline-none">
        Напишите мне
      </button>
    </div>
  </div>
  <div class="order-1 lg:order-2 lg:basis-6/12">
    <img src="/hero.jpg" alt="" class="object-cover" />
  </div>
</section>
