---
import { Icon } from 'astro-icon';

const { title = 'Перейти на сайт', address } = Astro.props;
---

<a
  href={address}
  class="text-base font-normal text-zinc-700 underline underline-offset-8 hover:text-indigo-600 flex gap-2 items-center mt-4 mr-auto"
  >{title}
  <Icon name="mdi:arrow-right" class="h-5" />
</a>
