---
import { Icon } from 'astro-icon';
---

<section
  class="py-10 flex flex-col gap-5 lg:flex-row justify-between"
  id="printshop"
>
  <div class="lg:basis-2/5">
    <small>Типография</small>
    <h2 class="text-2xl font-medium max-w-prose">
      Типография полного цикла Изготовление и печать всех видов полиграфической
      продукции. Офсетная, цифровая печать, постпечатные процессы.
    </h2>
  </div>
  <div class="lg:basis-2/5">
    <img src="/printhouse.png" alt="" class="mb-5" />
    <a
      href="https://zzpost.ru/"
      class="text-zinc-700 underline underline-offset-8 hover:text-indigo-600 flex gap-2 items-center"
      >Перейти на сайт
      <Icon name="mdi:arrow-right" class="h-5" />
    </a>
  </div>
</section>
