<section class="py-10 flex flex-col" id="projects">
  <small>Проекты</small>
  <ol class="list-decimal list-inside text-xl flex flex-col gap-10 w-full">
    <li class="lg:max-w-[50%] text-xl font-medium">
      Типография полного цикла
      <p class="text-base font-normal text-zinc-500 mb-6">
        для рекламных агентств, издательств, продюсерских центров, театров,
        производителей товаров и услуг, книжных сетей, поставщиков
        маркетплейсов. В активах 14 единиц полиграфического оборудования
      </p>
      <a
        href="https://zzpost.ru"
        class="flex text-base items-end gap-3 hover:text-indigo-600 leading-none"
      >
        <img src="/print.png" alt="zzpost logo" class="h-8" />
        Перейти на сайт
      </a>
    </li>
    <li class="ml-auto lg:max-w-[50%] text-xl font-medium">
      Издательство
      <p class="text-base font-normal text-zinc-500">
        Разработка/ доработка, производство и регистрация книг, тематических
        изданий и развивающей продукции под заказ.<br />- Подготовка материалов
        для издания (дизайн, верстка, корректура)<br />- Производство<br />-
        Регистрация необходимой документации (консультации или услуга
        по&nbsp;сертификации, декларированию, ISBN, ШК и тд)
      </p>
    </li>
    <li class="lg:max-w-[50%] text-xl font-medium">
      Разработка продукта
      <p class="text-base font-normal text-zinc-500 mb-6">
        концепции, линейки продукции, регистрация товарного знака, производство
        и продвижение в категориях книги, развивающая продукция, канцелярия,
        товары для дома
      </p>
      <div class="flex">
        <a
          href="https://www.wildberries.ru/brands/tsedrik"
          class="flex flex-col items-center text-base gap-3 hover:text-indigo-600 leading-none"
        >
          <img src="/WB.svg" alt="wildberries logo" class="h-10" />
          Цедрик
        </a>
        <a
          href="https://www.wildberries.ru/brands/pantry-vitkov"
          class="flex flex-col items-center text-base gap-3 hover:text-indigo-600 leading-none"
        >
          <img src="/WB.svg" alt="wildberries logo" class="h-10" />
          Pantry Vitkov
        </a>
      </div>
    </li>
    <li class="ml-auto lg:max-w-[50%] text-xl font-medium">
      Создание и организация социально культурных проектов
    </li>
  </ol>
</section>
