<section class="py-10 flex flex-col" id="projects">
  <small>Проекты</small>
  <ol class="list-decimal list-inside text-xl flex flex-col gap-10 w-full">
    <li class="lg:max-w-[50%] text-xl font-medium">
      Типография полного цикла
      <p class="text-base font-normal text-zinc-500">
        для рекламных агентств, продюсерских центров, театров, производителей
        товаров и услуг, книжных сетей и поставщиков маркетплейсов.
      </p>
    </li>
    <li class="ml-auto lg:max-w-[50%] text-xl font-medium">
      Разработка продукта
      <p class="text-base font-normal text-zinc-500">
        концепции, структуры и линейки продукции, регистрация товарного знака,
        производство и продвижение в категориях книги, развивающая продукция,
        канцелярия, товары для дома
      </p>
    </li>
    <li class="lg:max-w-[50%] text-xl font-medium">
      Социально-культурные проекты.
      <p class="text-base font-normal text-zinc-500">
        сотрудничество с театрами, культурными и развивающими центрами по
        проведению тематических и корпоративных событий. Разработка проекта под
        ключ или организация готового мероприятия.
      </p>
    </li>
    <li class="ml-auto lg:max-w-[50%] text-xl font-medium">
      Творческая деятельность.
      <p class="text-base font-normal text-zinc-500">
        автор книг, стихов, песен, истории для мультфильма Цедрик, развивающих
        курсов и продукция для детей. Копирайтинг.
      </p>
    </li>
  </ol>
</section>
