---
import ProjectCard from "./ProjectCard.astro";
import ProjectCardWithBG from "./ProjectCardWithBG.astro";
import SectionHeader from "./SectionHeader.astro";

const currentProjects = [
  {
    title: "Типография",
    desc: "Производство полного цикла для рекламных агентств, книжных сетей, издательств, продюсерских центров и театров, производителей товаров и услуг, поставщиков маркетплейсов. 14 единиц полиграфического оборудования.",
    thumbnail: "/printshop.webp",
    links: [
      {
        url: "https://zzpost.ru",
        icon: "/internet.webp",
      },
      {
        url: "https://vk.com/public178937029",
        icon: "/vk.webp",
      },
    ],
  },
  {
    title: "Издательство",
    desc: "Разработка и доработка, производство и регистрация книг, тематических изданий и развивающей продукции под заказ. Дизайн, верстка, корректура, печать, регистрация документации сертификация, декларирование, ISBN, ШК.",
    thumbnail: "/publishing.webp",
    links: [],
  },
  {
    title: 'Многопрофильный проект "Цедрик"',
    desc: '- Рассказы и азбуки\n- Развивающая продукция\n- Песни к мультфильму\n- Развивающий курс\n- Мультипликационный сериал "Цедрик"',
    thumbnail: "/cedric.webp",
    links: [
      {
        url: "https://youtu.be/30CilXSrkI0",
        icon: "/youtube.webp",
      },
      {
        url: "/cedric_keynote.pdf",
        icon: "/internet.webp",
      },
      {
        url: "https://www.realrocks.ru/ngnom/music/",
        icon: "/internet.webp",
      },
      {
        url: "https://yandex.ru/video/preview/16844802594160028759",
        icon: "/internet.webp",
      },
    ],
  },
  {
    title: "Проекты для подростков",
    desc: 'Социально - образовательный проект для подростков "Мотиватор Тин" - это 12 профильных встреч с ведущими мастерами из разных сфер. Программы мастер-классов подобраны с учетом актуальности тем для старшеклассников.',
    thumbnail: "/tin.webp",
    links: [
      {
        url: "http://www.wuor.ru/news/v-khimkakh-startoval-obrazovatelnyy-proekt-dlya-starsheklassnikov-motivator-tin-116712/",
        icon: "/internet.webp",
      },
      {
        url: "https://wuomr.ru/page/view-post?id=259",
        icon: "/internet.webp",
      },
      {
        url: "https://vk.com/malyi.biznes.khimki?w=wall-129806002_4887",
        icon: "/vk.webp",
      },
    ],
  },
  {
    title: "Авторский курс для дошкольников",
    desc: 'Развивающий курс " Любознайки с Цедриком"для детей от 3 лет. 32 иммерсивных занятия от А до Я включают более 200 объектов для изучения. С помощью игровых уроков, подключения разных каналов восприятия, материал легко усваивается и запоминается.',
    thumbnail: "/luboznayki.webp",
    links: [
      {
        url: "https://youtu.be/smLRABkYGds",
        icon: "/youtube.webp",
      },
    ],
  },
  {
    title: "Авторский курс для школьников",
    desc: "Креативный курс «Aртмейкер» для детей от 7 до 12 лет. 8 встреч с наставником по созданию авторской сказки по канонам жанра, с дальнейшей корректурой текстового материала и появлением готовой рукописи для публикации книги.",
    thumbnail: "/artmaker.webp",
    links: [
      {
        url: "https://youtu.be/m_l7_PVzB3U",
        icon: "/youtube.webp",
      },
    ],
  },

  {
    title: "Сказки для детей",
    desc: 'Серия сказок для детей и взрослых "Мой мир - моя ценность"\n- Лука и Ведьмино озеро\n- Йошка. Я хочу увидеть солнце!\n- Куколка для Маши\n- Как Шоколадка стала звездой.',
    thumbnail: "/skazki.webp",
    links: [],
  },
  {
    title: "Выставки",
    desc: 'Благотворительная выставка "Любимые цветы"" из частной коллекции картин "PantryVitkov".  24 живописных полотна, объединённые темой "Цветы", в технике масло, холст.  Основу коллекции составили работы жительницы Донбаса художника Юлии Киселевой.',
    thumbnail: "/vystavka.webp",
    links: [
      {
        url: "https://wuomr.ru/page/view-post?id=141",
        icon: "/internet.webp",
      },
      {
        url: "https://inhimkicity.ru/novosti/obschestvo/lyubimye-cvety-v-himkah",
        icon: "/internet.webp",
      },
      {
        url: "https://vk.com/wall2625795_3315",
        icon: "/vk.webp",
      },
    ],
  },
  {
    title: "Разработка СТМ",
    desc: "Создание марки, дизайна линейки продукции, регистрация товарного знака, производство и продвижение в категориях книги, развивающая продукция, канцелярия, товары для дома",
    thumbnail: "/ctm.webp",
    links: [
      {
        url: "https://www.wildberries.ru/brands/tsedrik",
        icon: "/wb.webp",
      },
      {
        url: "https://www.ozon.ru/brand/pantry-vitkov-87366686",
        icon: "/ozon.webp",
      },
      {
        url: "https://www.wildberries.ru/brands/pantry-vitkov",
        icon: "/wb.webp",
      },
    ],
  },
];
const archivedProjects = [
  {
    title: "ТВ программа для детей",
    desc: 'Детская ТВ программа "Остров Любознаек", 11 выпусков на ТВ канале Химки СМИ. Разработка идеи, сценарий, фандрайзинг, кастинг ведущих, создание песен, производсвтво реквизита для программы, участие в съемках.',
    thumbnail: "/island.webp",
    links: [
      {
        url: "https://www.himkismi.ru/arhive-programm/ostrov-lyuboznaek/?ysclid=l76a8n3p2w721899296 ",
        icon: "/internet.webp",
      },
      {
        url: "https://www.youtube.com/watch?v=bYNNEsKQo-o&t=38s",
        icon: "/youtube.webp",
      },
      {
        url: "https://ok.ru/video/57070072444",
        icon: "/odnoklassniki.webp",
      },
    ],
  },
  {
    title: "Детские парковые программы",
    desc: 'Развлекательные программы "Цедрик" для детей г.о. Химки. Разработка авторских сценариев, музыкального материала, подбор актеров, организация мероприятий. Участие с программой в городских праздниках, посвященных Дню защиты детей.',
    thumbnail: "/park.webp",
    links: [],
  },
  {
    title: "ТВ программа пилот",
    desc: 'Детская ТВ программа "Добрая сказка"  подготовлена для ТВ канала Химки СМИ. Формат - сказка на ночь. В основу взяты стилизации редких народных сказок. Иллюстрации для программы создают учащиеся художественных школ г. Химки.   ',
    thumbnail: "/pylot.webp",
    links: [
      {
        url: "https://youtu.be/Ee1egfnQcco",
        icon: "/youtube.webp",
      },
    ],
  },
  {
    title: "Корпоративные мероприятия",
    desc: 'Разработка концепции мероприятия , подбор площадки, подбор спектакля, подбор подрядчиков по фуршету, мерч, организация работы на площадке. Рок-опера "Преступление и наказание" Московский театр Мюзикла - прекрасный выбор спектакля!',
    thumbnail: "/corporate.webp",
    links: [],
  },
  {
    title: "Новогодние праздники для детей",
    desc: "Новогодние праздничные мероприятия для детей сотрудников оргранизации в городах: Санкт- Петрубрг, Ярославль, Нижний Новгород, Великие Луки, Ухта, пос. Хвойный. Подбор площадок и спектаклей. Организация работы на площадке.",
    thumbnail: "/ny.webp",
    links: [],
  },
  {
    title: "Социальный календарь",
    desc: "Разработка и участие в социальных проектах, выражающих личное отношение. Видео поздравление жителей г. Химки с Днем России 2022г.",
    thumbnail: "/social.webp",
    links: [
      {
        url: "https://youtu.be/a7HJOgE3BAs",
        icon: "/youtube.webp",
      },
    ],
  },
];
---

<section class="py-10 flex flex-col" id="projects">
  <SectionHeader title="Действующие проекты:" />
  <div class="grid grid-cols-1 gap-10 mb-20 mt-5">
    {currentProjects.map((project) => <ProjectCardWithBG {...project} />)}
  </div>
  <SectionHeader title="Архивные проекты:" />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-5">
    {archivedProjects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>
