---
import OutsideLink from "./OutsideLink.astro";

const {title, desc, thumbnail, links} = Astro.props;
---

<article>
  <div class="max-h-60 object-center flex mt-2">
    <img src={thumbnail} alt="" class="object-cover" />
  </div>
  <h3 class="font-medium text-xl mt-4 mb-2">{title}</h3>
  <p class="text-zinc-600 text-sm ">{desc}</p>
  {links.length > 0 && (
    <p class="text-zinc-600 text-sm mt-3 mb-2">Ссылки:</p>
    <div class="flex gap-2">
      {links.map((link) => (
        <OutsideLink {...link}/>
      ))}
    </div>
  )}
</article>