<section class="py-16 flex flex-col lg:flex-row" id="publish">
  <div class="max-w-prose basis-1/2">
    <small>Издательство</small>
    <ul class="text-xl flex flex-col gap-5 ml-auto max-w-prose">
      <li class="lg:max-w-prose text-xl font-medium">
        Издательство программных буклетов для театров, продюсерских центров,
        концертных площадок
      </li>
      <li class="lg:max-w-prose text-xl font-medium">
        Издание книг, развивающей продукции под заказ:
        <small class="text-zinc-600 font-normal">
          <br />
          - Подготовка материалов для издания (дизайн, верстка, корректура) <br
          />- Производство <br />- Регистрация необходимой документации
          (консультации или услуга по сертификации, декларированию, ISBN, ШК и
          тд).
        </small>
      </li>
      <li class="lg:max-w-prose text-xl font-medium">
        Производство рекламной полиграфии для проекта издания
      </li>
    </ul>
  </div>
  <div class="basis-1/2">
    <img src="/cedric.png" alt="Цедрик" class="w-full" />
  </div>
</section>
